@font-face {
    font-family: 'Niconne-Regular';
    src: url('./Niconne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url('./Georgia.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Neue';
    src: url('./Helvetica-Neue.ttf');
    font-weight: normal;
    font-style: normal;
}